<!doctype html>
<html class="no-js">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Big 80s Quiz</title>
        <link href="css/site.css" rel="stylesheet" />
        <script src="//cdn.polyfill.io/v1/polyfill.min.js" async defer></script>

        <script src="js/polyfills/modernizr.custom.js" type="text/javascript"></script>    
        <script src="js/polyfills/distributor.js" type="text/javascript"></script>
    </head>

    <body ng-app>
        <div class="rainbow rainbow_left"></div>
        <div class="rainbow rainbow_right"></div>
        <div id="banner">
        </div>

        <div id="content">
            <div id="game" ng-controller="QuestionController">
                <div id="intro" class="game_window">
                    <h1>Welcome</h1>
                    <nav>
                        <input type="button" value="Start" name="btnPlay" id="btnPlay" class="btn_big" />
                        <input type="button" value="Howto" name="btnHow" id="btnHow" class="btn_big" />
                        <input type="button" value="Highscore" name="btnHigh" id="btnHigh" class="btn_big" />
                    </nav>
                </div>

                <div id="enter_name" class="hidden game_window">
                    <h1>Write your name</h1>
                    <input type="text" placeholder="Name" name="txtName" id="txtName" class="txt_big drag" maxlength="16" draggable="true"
                           ondragstart="drag(event)"/>

                    <img src="https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/Arrow.svg" class="arrow" id="helparrow"/>
                    <img src="Recorder.svg" class="inject-me recorder" id="startRecorder" ondrop="drop(event)" ondragover="allowDrop(event)"/>
                    <!--                    <input type="button" value="Next" name="btnEnterNameNext" class="btn_big"/>-->
                </div>                                

                <div id="quiz" class="hidden game_window">
                    <h1>Answer the questions</h1>
                    <img class="inject-me recorder" src="Recorder.svg">
                    <ul id="questions">
                        <li ng-repeat="q in questions">
                            <h2 class="category">{{q.Category}}</h2>
                            <div ng-if="q.Category == 'Movies'">
                                <p>When was the movie {{q.Quest}} released?</p>                                
                            </div>
                            <div ng-if="q.Category == 'Books'">
                                <p>When was the book {{q.Quest}} published?</p>                                
                            </div>
                            <div ng-if="q.Category == 'TV Shows'">
                                <p>When did {{q.Quest}} first aired on TV?</p>                                
                            </div>
                            <div ng-if="q.Category == 'Music'">
                                <p>When was {{q.Quest}} first played on the radio?</p>                                
                            </div>
                            <div ng-if="q.Category == 'Inventions'">
                                <p>When was {{q.Quest}} invented?</p>                                
                            </div>
                            <div ng-if="q.Category == 'Fashion'">
                                <p>When was {{q.Quest}} fashionable?</p>                                
                            </div>
                            <div ng-if="q.Category == 'Games'">
                                <p>When was the game {{q.Quest}} released?</p>                                                               
                            </div>
                            <div ng-if="q.Category == 'Game Consoles'">
                                <p>When was the {{q.Quest}} released?</p>                                
                            </div> 
                            <img ng-src="{{q.ImgURL}}" class="quizImages"/>  
                            <p id="quickInstructione">Press <i class="btnBeforeAfter before"></i> if you think before or <i class="btnBeforeAfter after"></i> if you think after 1980</p>                                                  
                        </li>                                          
                    </ul>  
                    <br style="clear: both" />                                                         
                </div>

                <div id="mini_game" class="visibility overlay">
                    <img src="MiniGameCassette.svg" class="inject-me" id="miniGameCassette"/>
                </div>

                <div id="result" class="hidden game_window">
                    <h1>Result</h1>
                    <h2>Your score: <span id="scoreboard"></span></h2>
                    <ul id="answers">
                        
                    </ul>
                    <a href="index.html">Go Back</a>
                </div>
            </div>

        </div>

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script src="js/howler.min.js"></script>
        <script src="js/angular/angular.js"></script>
        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="js/app/Question/Question.js"></script>
        <script src="js/app/Question/QuestionController.js"></script>
        <script src="js/svg-injector.js"></script>    
        <script src="js/main.js"></script>        
        <script src="js/snowstorm.js"></script>        
    </body>

</html>