$cubeTop: #333;
$cubeLeft: #222;
$cubeRight: #111;
$bannerBlue: #070f4f;

$pink: #F2358D;
$blue: #05AFF2;
$green: #BFF205;
$yellow: #ffff00;

$bicBlue: #6666cc;


@font-face {
    font-family: 'Note This';
    src: url('fonts/note_this-webfont.eot');
    src: url('fonts/note_this-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/note_this-webfont.woff2') format('woff2'),
        url('fonts/note_this-webfont.woff') format('woff'),
        url('fonts/note_this-webfont.ttf') format('truetype'),
        url('fonts/note_this-webfont.svg#note_thisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VCR OSD Mono';
    src: url('fonts/vcr_osd_mono-webfont.eot');
    src: url('fonts/vcr_osd_mono-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/vcr_osd_mono-webfont.woff2') format('woff2'),
        url('fonts/vcr_osd_mono-webfont.woff') format('woff'),
        url('fonts/vcr_osd_mono-webfont.ttf') format('truetype'),
        url('fonts/vcr_osd_mono-webfont.svg#vcr_osd_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LCD';
    src: url('fonts/ds-digii-webfont.eot');
    src: url('fonts/ds-digii-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/ds-digii-webfont.woff2') format('woff2'),
        url('fonts/ds-digii-webfont.woff') format('woff'),
        url('fonts/ds-digii-webfont.ttf') format('truetype'),
        url('fonts/ds-digii-webfont.svg#ds-digitalitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Prisma';
    src: url('fonts/prisma-webfont.eot');
    src: url('fonts/prisma-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/prisma-webfont.woff2') format('woff2'),
        url('fonts/prisma-webfont.woff') format('woff'),
        url('fonts/prisma-webfont.ttf') format('truetype'),
        url('fonts/prisma-webfont.svg#prismaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html {
    min-height: 100%;
    position: relative;
    color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Arial', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

body:after{
    display:none;
    content: url(https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/ButtonHover.svg);
}

body {
    background-color: $cubeRight;
    background-image: linear-gradient(30deg, $cubeTop 12%, transparent 12.5%, transparent 87%, $cubeTop 87.5%, $cubeTop), linear-gradient(150deg, $cubeTop 12%, transparent 12.5%, transparent 87%, $cubeTop 87.5%, $cubeTop), linear-gradient(30deg, $cubeTop 12%, transparent 12.5%, transparent 87%, $cubeTop 87.5%, $cubeTop), linear-gradient(150deg, $cubeTop 12%, transparent 12.5%, transparent 87%, $cubeTop 87.5%, $cubeTop), linear-gradient(60deg, $cubeLeft 25%, transparent 25.5%, transparent 75%, $cubeLeft 75%, $cubeLeft), linear-gradient(60deg, $cubeLeft 25%, transparent 25.5%, transparent 75%, $cubeLeft 75%, $cubeLeft);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    margin: 0;
    padding: 0;
    min-height: 100%;


    #banner {
        background: $bannerBlue;
        width: 100%;
        height: 250px;
        background-image: url("https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/Banner.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    footer
    {
        width: 100%;
        height: 40px;
        background: $bannerBlue;
        position: absolute;
        left: 0;
        bottom: 0;                
        p
        {
            text-align: center;
            margin: 0;
            padding: 0;
            line-height: 40px;
            a
            {
                color: $green;
                text-decoration: none;
                opacity: 0.7;
            }

            a:hover
            {

                opacity: 1;
            }
        }
    }


    .rainbow {
        position: absolute;
        width: 80px;
        height: 100%;
        z-index: -1;
    }

    .rainbow_left {
        left: 80px;
        background-image: linear-gradient( to right, $blue, $blue 25%, $green 25%, $green 50%, $yellow 50%, $yellow 75%, $pink 75%, $pink 100% );
    }

    .rainbow_right {
        right: 80px;
        background-image: linear-gradient( to left, $blue, $blue 25%, $green 25%, $green 50%, $yellow 50%, $yellow 75%, $pink 75%, $pink 100% );
    }


    #content {        
        max-width: 960px;
        height: auto;
        margin: 0 auto;

        nav
        {          
            margin: 0 auto;
            width: 200px;
        }

        #game
        {     
            width: 100%;
            min-height: 512px;
            margin: 32px 0px 72px 0px;

            .game_window
            {
                background: white;
                border: solid $blue 32px;
                box-sizing: border-box;                
                min-height: 512px;
                padding: 32px;

                ul
                {
                    list-style-type: none;
                }

                .country_flag
                {
                    height: 32px;
                }

                h1, h2{
                    font-family: "VCR OSD Mono", Arial, Helvetica, sans-serif;
                    color: black;
                    margin: 0px;
                    padding: 0px;
                    margin-bottom: 16px;
                    padding-bottom: 16px;
                }

                h2
                {
                    text-align: center;
                    margin: 0px;
                    padding: 0px;
                }

                h1:after
                {
                    content: " █";
                }

                p
                {
                    font-family: 'Arial', 'Helvetica', sans-serif;
                }

                .arrow
                {                                       
                    height: 20%;
                    margin: 0px;
                    margin-left: 10%;
                    padding: 0px;
                    position: absolute;                   
                    top: 512px;
                    transition: all 100ms;
                }

                .wrong
                {
                    color: red;
                }

                .correct
                {
                    color:green;
                }

                #highscores
                {
                    font-family: 'VCR OSD Mono';
                    text-transform: uppercase;
                    margin: 0 auto;
                    border-spacing: 10px;
                    border-collapse: separate;
                    text-align: center;
                }            
                
                table tr:first-child td
                {
                    color: $pink;
                }
                
                table tr:nth-child(2) td
                {
                    color: $green;
                }
                
                table tr:nth-child(3) td
                {
                    color: $blue;
                }
                

                table > thead
                {
                    font-size: 20px;
                }

                #txtName
                {
                    background: none;
                    background: url("https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/Cassette.svg");
                    background-repeat: no-repeat;
                    outline: none;
                    border: none;                                     
                    margin: 0 auto;                    
                    display: block;
                    max-width: 100%;
                    padding: 3% 6% 50% 6%;
                }

                .btn_big
                {                    
                    font-family: "Note This", Arial, Helvetica, sans-serif;
                    font-size: 24px;
                    display: block;
                    padding: 8px;
                    color: black;
                    background: none;
                    background: url("https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/Button.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    outline: none;
                    border: none;
                    margin: 32px auto;
                    width: 177px;
                    height: 110px;
                }

                .btn_big:hover, .btn_big:focus
                {
                    background: url("https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/ButtonHover.svg");                    
                    outline: none;
                    cursor: pointer;
                }

                .btnBeforeAfter
                {
                    width: 20px;
                    height: 32px;
                    display: inline-block;
                    background: url("https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/buttonBeforeAfter.svg");
                }

                .after
                {
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                }

                .txt_big
                {
                    text-align: left;
                    color: $bicBlue;
                    font-family: "Note This", Arial, Helvetica, sans-serif;
                    font-size: 28px;
                    text-transform: uppercase;

                }

                .lcd_display
                {
                    font-family: 'LCD';
                }

                .hover:hover
                {
                    cursor: pointer;
                }

                .drag:hover
                {
                    cursor: -webkit-zoom-grab;
                    cursor: url(https://www.google.com/intl/en_ALL/mapfiles/openhand.cur), auto;
                }

                .txt_big::selection {
                    background: black;
                    color: white;
                }

                .txt_big::-moz-selection
                {
                    background: black;
                    color: white;
                }

                .recorder
                {
                    width: 50%;
                    margin: 0 auto;
                    display: block;
                }

                #Recorder
                {
                    width: 35%;
                    float:left;
                }

                .recoderControlls
                {
                    #RecordingLight
                    {
                        fill: rgb(21, 4, 12);
                    }
                }

                .cassetteName
                {
                    fill: $bicBlue;
                    font-family: "Note this";
                    margin: 0 auto;
                    text-transform: uppercase;
                }

                #questions
                {
                    float:right;
                    width: 50%;
                    margin-right: 40px;
                    margin: 0px;
                    padding: 0px;

                    p
                    {
                        text-align: center;
                        font-size: 18px;
                    }
                }


                .quizImages
                {
                    max-width: 256px;
                    max-height: 256px;
                    margin: 16px auto;
                    display: block;
                }
            }

            #howto img
            {
                width: 64%;
            }

            #howto #explain > p
            {
                font-size: 20px;
                margin: 0px;
            }

            #howto #explain > h2
            {
                margin: 20px;
            }


            .overlay
            {
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                padding: 10%;
                box-sizing: border-box;

                #miniGameCassette
                {
                    position: fixed;
                    width: 40%;
                    top: 25%;
                    left: 30%;
                }
            }

            #minigameText
            {
                font-family: 'Note this';
            }

            .visibility
            {
                opacity: 0;
                visibility: hidden;
            }

            .hidden
            {
                display: none;
            }

            .visible
            {
                display: block;
            }

            .clearfix
            {
                clear: both;
            }

        }

    }
}

// Mobiele layout
@media screen and (max-width: 512px)
{
    body
    {
        background: red;

        #content
        {
            #game
            {
                margin: 0px;

                .game_window
                {
                    border: solid $blue 16px;                   
                    padding: 16px;

                    #txtName
                    {
                        max-width: 80%;
                        padding: 5% 10% 50% 10%;
                    }

                    .txt_big
                    {
                        font-size: 24px;
                    }

                    .recorder
                    {
                        width: 100%;
                    }


                    #Recorder
                    {
                        float: none;
                        width: 100%;
                        margin-bottom: 16px;
                    }


                    #questions
                    {
                        float: none;
                        width: 100%;
                    }
                }

                .overlay
                {
                    #miniGameCassette
                    {
                        top: 50%;
                        left: auto;
                        width: 80%;
                    }
                }

                .arrow
                {
                    display: none;
                }
            }
        }
    }
}