/* line 13, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
html {
  min-height: 100%;
  position: relative;
  color: black; }

/* line 19, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
body {
  background-color: #111;
  background-image: linear-gradient(30deg, #333 12%, transparent 12.5%, transparent 87%, #333 87.5%, #333), linear-gradient(150deg, #333 12%, transparent 12.5%, transparent 87%, #333 87.5%, #333), linear-gradient(30deg, #333 12%, transparent 12.5%, transparent 87%, #333 87.5%, #333), linear-gradient(150deg, #333 12%, transparent 12.5%, transparent 87%, #333 87.5%, #333), linear-gradient(60deg, #222 25%, transparent 25.5%, transparent 75%, #222 75%, #222), linear-gradient(60deg, #222 25%, transparent 25.5%, transparent 75%, #222 75%, #222);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  margin: 0;
  padding: 0;
  min-height: 100%; }
  /* line 28, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
  body #banner {
    background: #070f4f;
    width: 100%;
    height: 250px;
    background-image: url("https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  /* line 38, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
  body footer {
    width: 100%;
    height: 40px;
    background: #070f4f; }
  /* line 45, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
  body .rainbow {
    position: absolute;
    width: 80px;
    height: 100%;
    z-index: -1; }
  /* line 52, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
  body .rainbow_left {
    left: 80px;
    background-image: linear-gradient(to right, #05AFF2, #05AFF2 25%, #BFF205 25%, #BFF205 50%, #ffff00 50%, #ffff00 75%, #F2358D 75%, #F2358D 100%); }
  /* line 57, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
  body .rainbow_right {
    right: 80px;
    background-image: linear-gradient(to left, #05AFF2, #05AFF2 25%, #BFF205 25%, #BFF205 50%, #ffff00 50%, #ffff00 75%, #F2358D 75%, #F2358D 100%); }
  /* line 63, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
  body #content {
    width: 960px;
    height: auto;
    margin: 0 auto; }
    /* line 68, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
    body #content nav {
      margin: 0 auto;
      width: 200px; }
    /* line 74, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
    body #content #game {
      width: 100%;
      min-height: 512px; }
      /* line 79, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game .game_window {
        background: white;
        border: solid #05AFF2 32px;
        box-sizing: border-box;
        min-height: 512px;
        margin: 32px; }
        /* line 87, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .country_flag {
          height: 32px; }
        /* line 92, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window h1 {
          font-family: "VCR OSD Mono", Arial, Helvetica, sans-serif;
          color: black;
          margin: 16px;
          padding: 16px; }
        /* line 99, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window h1:after {
          content: " █"; }
        /* line 104, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window #txtName {
          background: none;
          background: url("../Cassette.svg");
          background-repeat: no-repeat;
          background-size: 400px 246px;
          background-position: bottom, center;
          outline: none;
          border: none;
          padding: 35px 50px 180px 50px;
          width: 300px;
          height: 35px;
          margin: 0 auto;
          margin-bottom: 64px;
          display: block; }
        /* line 121, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .btn_big {
          font-family: "Note This", Arial, Helvetica, sans-serif;
          font-size: 24px;
          display: block;
          padding: 8px;
          color: black;
          background: none;
          background: url("https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/btn.png");
          background-repeat: no-repeat;
          background-size: contain;
          outline: none;
          border: none;
          margin: 32px auto;
          width: 177px;
          height: 110px; }
        /* line 139, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .btn_big:hover, body #content #game .game_window .btn_big:focus {
          background: url("https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/btn_hover.png");
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -ms-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
          outline: none;
          cursor: pointer; }
        /* line 151, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .txt_big {
          text-align: left;
          color: #6666cc;
          font-family: "Note This", Arial, Helvetica, sans-serif;
          font-size: 28px;
          text-transform: uppercase; }
        /* line 161, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .txt_big::selection {
          background: black;
          color: white; }
        /* line 166, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .txt_big::-moz-selection {
          background: black;
          color: white; }
        /* line 174, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window #Layer_1 Rect {
          fill: #ffff00 !important; }
        /* line 180, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .recorder {
          width: 512px;
          margin: 0 auto;
          display: block; }
        /* line 189, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .recoderControlls #RecordingLight {
          fill: #15040c; }
        /* line 195, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .cassetteName {
          fill: #6666cc;
          font-family: "Note this";
          margin: 0 auto;
          text-transform: uppercase; }
      /* line 204, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game .hidden {
        display: none; }
      /* line 209, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game .visible {
        display: block; }

/*# sourceMappingURL=site.css.map */