@font-face {
  font-family: 'Note This';
  src: url('fonts/note_this-webfont.eot');
  src: url('fonts/note_this-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/note_this-webfont.woff2') format('woff2'), url('fonts/note_this-webfont.woff') format('woff'), url('fonts/note_this-webfont.ttf') format('truetype'), url('fonts/note_this-webfont.svg#note_thisregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('fonts/vcr_osd_mono-webfont.eot');
  src: url('fonts/vcr_osd_mono-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/vcr_osd_mono-webfont.woff2') format('woff2'), url('fonts/vcr_osd_mono-webfont.woff') format('woff'), url('fonts/vcr_osd_mono-webfont.ttf') format('truetype'), url('fonts/vcr_osd_mono-webfont.svg#vcr_osd_monoregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LCD';
  src: url('fonts/ds-digii-webfont.eot');
  src: url('fonts/ds-digii-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/ds-digii-webfont.woff2') format('woff2'), url('fonts/ds-digii-webfont.woff') format('woff'), url('fonts/ds-digii-webfont.ttf') format('truetype'), url('fonts/ds-digii-webfont.svg#ds-digitalitalic') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 51, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
html {
  min-height: 100%;
  position: relative;
  color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Arial', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0; }

/* line 66, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
body:after {
  display: none;
  content: url(https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/ButtonHover.svg); }

/* line 71, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
body {
  background-color: #111;
  background-image: linear-gradient(30deg, #333 12%, transparent 12.5%, transparent 87%, #333 87.5%, #333), linear-gradient(150deg, #333 12%, transparent 12.5%, transparent 87%, #333 87.5%, #333), linear-gradient(30deg, #333 12%, transparent 12.5%, transparent 87%, #333 87.5%, #333), linear-gradient(150deg, #333 12%, transparent 12.5%, transparent 87%, #333 87.5%, #333), linear-gradient(60deg, #222 25%, transparent 25.5%, transparent 75%, #222 75%, #222), linear-gradient(60deg, #222 25%, transparent 25.5%, transparent 75%, #222 75%, #222);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  margin: 0;
  padding: 0;
  min-height: 100%; }
  /* line 81, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
  body #banner {
    background: #070f4f;
    width: 100%;
    height: 250px;
    background-image: url("https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/Banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  /* line 91, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
  body footer {
    width: 100%;
    height: 40px;
    background: #070f4f;
    position: absolute;
    left: 0;
    bottom: 0; }
    /* line 99, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
    body footer p {
      text-align: center;
      margin: 0;
      padding: 0;
      line-height: 40px; }
      /* line 105, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body footer p a {
        color: #BFF205;
        text-decoration: none;
        opacity: 0.7; }
      /* line 112, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body footer p a:hover {
        opacity: 1; }
  /* line 121, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
  body .rainbow {
    position: absolute;
    width: 80px;
    height: 100%;
    z-index: -1; }
  /* line 128, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
  body .rainbow_left {
    left: 80px;
    background-image: linear-gradient(to right, #05AFF2, #05AFF2 25%, #BFF205 25%, #BFF205 50%, #ffff00 50%, #ffff00 75%, #F2358D 75%, #F2358D 100%); }
  /* line 133, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
  body .rainbow_right {
    right: 80px;
    background-image: linear-gradient(to left, #05AFF2, #05AFF2 25%, #BFF205 25%, #BFF205 50%, #ffff00 50%, #ffff00 75%, #F2358D 75%, #F2358D 100%); }
  /* line 139, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
  body #content {
    max-width: 960px;
    height: auto;
    margin: 0 auto; }
    /* line 144, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
    body #content nav {
      margin: 0 auto;
      width: 200px; }
    /* line 150, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
    body #content #game {
      width: 100%;
      min-height: 512px;
      margin: 32px 0px 72px 0px; }
      /* line 156, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game .game_window {
        background: white;
        border: solid #05AFF2 32px;
        box-sizing: border-box;
        min-height: 512px;
        padding: 32px; }
        /* line 164, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window ul {
          list-style-type: none; }
        /* line 169, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .country_flag {
          height: 32px; }
        /* line 174, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window h1, body #content #game .game_window h2 {
          font-family: "VCR OSD Mono", Arial, Helvetica, sans-serif;
          color: black;
          margin: 0px;
          padding: 0px;
          margin-bottom: 16px;
          padding-bottom: 16px; }
        /* line 183, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window h2 {
          text-align: center;
          margin: 0px;
          padding: 0px; }
        /* line 190, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window h1:after {
          content: " █"; }
        /* line 195, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window p {
          font-family: 'Arial', 'Helvetica', sans-serif; }
        /* line 200, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .arrow {
          height: 20%;
          margin: 0px;
          margin-left: 10%;
          padding: 0px;
          position: absolute;
          top: 512px;
          transition: all 100ms; }
        /* line 211, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .wrong {
          color: red; }
        /* line 216, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .correct {
          color: green; }
        /* line 223, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window #txtName {
          background: none;
          background: url("https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/Cassette.svg");
          background-repeat: no-repeat;
          outline: none;
          border: none;
          margin: 0 auto;
          display: block;
          max-width: 100%;
          padding: 3% 6% 50% 6%; }
        /* line 236, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .btn_big {
          font-family: "Note This", Arial, Helvetica, sans-serif;
          font-size: 24px;
          display: block;
          padding: 8px;
          color: black;
          background: none;
          background: url("https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/Button.svg");
          background-repeat: no-repeat;
          background-size: contain;
          outline: none;
          border: none;
          margin: 32px auto;
          width: 177px;
          height: 110px; }
        /* line 254, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .btn_big:hover, body #content #game .game_window .btn_big:focus {
          background: url("https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/ButtonHover.svg");
          outline: none;
          cursor: pointer; }
        /* line 261, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .btnBeforeAfter {
          width: 20px;
          height: 32px;
          display: inline-block;
          background: url("https://imagesyoranbroodcooren.blob.core.windows.net/thenandnowimg/buttonBeforeAfter.svg"); }
        /* line 269, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .after {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg); }
        /* line 278, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .txt_big {
          text-align: left;
          color: #6666cc;
          font-family: "Note This", Arial, Helvetica, sans-serif;
          font-size: 28px;
          text-transform: uppercase; }
        /* line 288, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .lcd_display {
          font-family: 'LCD'; }
        /* line 293, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .hover:hover {
          cursor: pointer; }
        /* line 298, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .drag:hover {
          cursor: -webkit-zoom-grab;
          cursor: url(https://www.google.com/intl/en_ALL/mapfiles/openhand.cur), auto; }
        /* line 304, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .txt_big::selection {
          background: black;
          color: white; }
        /* line 309, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .txt_big::-moz-selection {
          background: black;
          color: white; }
        /* line 315, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .recorder {
          width: 50%;
          margin: 0 auto;
          display: block; }
        /* line 322, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window #Recorder {
          width: 35%;
          float: left; }
        /* line 330, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .recoderControlls #RecordingLight {
          fill: #15040c; }
        /* line 336, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .cassetteName {
          fill: #6666cc;
          font-family: "Note this";
          margin: 0 auto;
          text-transform: uppercase; }
        /* line 344, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window #questions {
          float: right;
          width: 50%;
          margin-right: 40px;
          margin: 0px;
          padding: 0px; }
          /* line 352, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
          body #content #game .game_window #questions p {
            text-align: center;
            font-size: 18px; }
        /* line 360, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .quizImages {
          max-width: 256px;
          max-height: 256px;
          margin: 16px auto;
          display: block; }
      /* line 369, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game #howto img {
        width: 64%; }
      /* line 374, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game #howto #explain > p {
        font-size: 20px;
        margin: 0px; }
      /* line 380, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game #howto #explain > h2 {
        margin: 20px; }
      /* line 386, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        padding: 10%;
        box-sizing: border-box; }
        /* line 397, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .overlay #miniGameCassette {
          position: fixed;
          width: 40%;
          top: 25%;
          left: 30%; }
      /* line 406, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game #minigameText {
        font-family: 'Note this'; }
      /* line 411, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game .visibility {
        opacity: 0;
        visibility: hidden; }
      /* line 417, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game .hidden {
        display: none; }
      /* line 422, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game .visible {
        display: block; }
      /* line 427, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game .clearfix {
        clear: both; }

@media screen and (max-width: 512px) {
  /* line 440, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
  body {
    background: red; }
    /* line 446, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
    body #content #game {
      margin: 0px; }
      /* line 450, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game .game_window {
        border: solid #05AFF2 16px;
        padding: 16px; }
        /* line 455, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window #txtName {
          max-width: 80%;
          padding: 5% 10% 50% 10%; }
        /* line 461, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .txt_big {
          font-size: 24px; }
        /* line 466, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window .recorder {
          width: 100%; }
        /* line 472, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window #Recorder {
          float: none;
          width: 100%;
          margin-bottom: 16px; }
        /* line 480, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
        body #content #game .game_window #questions {
          float: none;
          width: 100%; }
      /* line 489, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game .overlay #miniGameCassette {
        top: 50%;
        left: auto;
        width: 80%; }
      /* line 497, C:/Users/Yoran.Yoran/Dropbox/School/_Semester 5/Frontend Webdevelopment/_Project/_Site/FrontendProject/Website/css/site.scss */
      body #content #game .arrow {
        display: none; }
 }

/*# sourceMappingURL=site.css.map */